*{
    margin: 0%;
    padding: 0%;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root{

    --cor1:#191c1c;
    --cor2:#ECA400;
    --cor3:#A69CAC;
    --cor4:#E94F37;
    --cor5:#56A3A6;
    --cor6:wheat;
}
header, footer{

    width: 100%;
    height: auto;
    background-color: var(--cor1);  
    display: flex;

}

header{

    position: sticky;
    top:0;
    z-index: 9999;
}

#banner{

    display: flex;
    align-items: center;
    justify-content:space-between; 
    width: 100%;
    height: auto; 
    
}

#banner a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

#imgBanner{

   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   color: var(--cor6);
   gap: 10px;
}

#imgBanner img{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    gap: 10px;
    padding: 20px; 
    justify-content: start;
    margin-left: 35px;
    

}

#loginCadastro{

    
    display: flex;
    justify-content: end;
    gap: 15px;
    color: var(--cor6);
}
#loginCadastro img{

    width: 10%;
    height: auto;
   
}

#loginCadastro a{

    text-decoration: none;  
    padding: 10px;
}

/* MAIN */

main{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.picBanner{

   display: flex; 
   width: 100%;
   height: 500px;
   background-image: url(/img/banner1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
  background-position: start;
  image-orientation: absolute;
}

.bestGuitars div h1{

    background-color: var(--cor1);
    text-align: center;
    padding: 50px;
    font-size: larger;
    color: var(--cor6);

       
}

#bestProdutos {
    width: 100%;
    height: auto;
    background-color: var(--cor1);
    display: flex;
    justify-content: center; 
}

.bestProdutos {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    align-items:center; 
    gap: 10px; 
}

/* Imagem maior: guitar6 */

#prod1 {
    flex: 1 1 auto; 
    display: flex;
    justify-content: center; 
}

#prod1 img {
    width: 100%;
    height: auto; 
    max-height: 500px; 
}

/* Imagem banner2 */
#prod2 {
    flex: 1 1 auto; 
    display: flex;
    justify-content: center; 
}

#prod2 img {
    width: 100%;
    height: auto; 
    max-height: 500px; 
}

/* Coluna de imagens menores: guitar3 e guitar4 */
#prodCollun {
    display: flex;
    flex-direction: column; 
    flex: 1 1 auto;
    gap: 10px; 
    width: 300px; 
}

#prod34, #prod44 {
    flex: 1 1 auto; 
}

#prod34 img, #prod44 img {
    width: 100%;
    height: auto; 
}


#prod44 img {
    max-height: 200px; 
}

/*seção catálogo*/


#orgContainer{

    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px;    

    
}

.categoria{

    width: 20%;
    height:auto ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
   

}

.categoria > h1{
    text-align: center;
    font-size: 40px;
}

.container2{

    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    gap: 10px;
    padding: 10px;
    border-left: 2px solid black;
}

.itens img{

    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px;
}

.itens{

    flex: 1 1 200px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;

}

.exploreMais{

    width: 100%;
    height: auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor4);

}

.imgsExp{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
}

#explMais h1{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: var(--cor6);
    background-color: var(--cor4);
  

}

.imgsExp img{

    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px;
    border-radius: 15px;
   
    
}


.footer{

    width: 100%;
    color: var(--cor6);
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--cor6);
    gap: 10px;
    padding: 10px;
    margin: 50px;

}


footer section .footer{

    width: 100%;  
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: small;

}

#contato{

 font-size: 10px;
  width: 100%;
  height: auto;
  font-size: 5px;
  
}
#direitosReservados{

    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    color: var(--cor6);
    

}


#contato{

 font-size: 10px;
  width: 100%;
  height: auto;
  font-size: 5px;
  
}
#direitosReservados{

    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
   
    

}








