*{
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}

:root{

    --cor1:#131515;
    --cor2:#ECA400;
    --cor3:#A69CAC;
    --cor4:#E94F37;
    --cor5:#56A3A6;
    --cor6:wheat;
}
header{

    width: 100%;
    height: 100px;
    background-color: var(--cor1);
    display: flex;

}

#banner{

    display: flex;
    align-items: center;
    justify-content:space-between; 
    width: 100%;
    height: auto; 
    
}

#imgBanner{

   display: flex;
   align-items: center;
   color: var(--cor6);
   gap: 10px;
}

#imgBanner img{

    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    gap: 10px;
    padding: 20px; 
    justify-content: start;
    

}

#loginCadastro{

    
    display: flex;
    justify-content: end;
    gap: 15px;
    color: var(--cor6);
}
#loginCadastro img{

    width: 10%;
    height: auto;
   
}

#loginCadastro a{

    text-decoration: none;
    color: wheat;
    padding: 10px;
}


body{


    
}
#produto{

    width: 100%;
  
    display: flex;
    justify-content: center;
    
    color: #131515;
    font-family: 10%;
   
}

#produto h2{

  font-size: 30px;

}

#produto p{

    font-size: 20px;
}

#produtoImg{

    width: 30%;   
    padding: 20px;
    
}

#produtoImg img{

    width: 80%;  
    border-radius: 20px;
   
}

#produtoNome{

    width: 30%;
    height: 300px;
    display: flex;
    
    flex-direction: column;
    gap: 50px;
    
}
#produtoNome img{

    width: 20%;
    gap: -20px;
}


#produtoPrice{

    display: flex;
    align-content: space-around;
  
}

#produtoPrice hr{

    color: #131515;
}
#produtoPrice{
   
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}

#produtoPrice button{

    background-color: var(--cor1);
    color: var(--cor6);
    padding: 10px;
    border-radius: 10px;
}





